@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Port+Lligat+Slab');
$bronze: rgba(238,
156,
74,
0.4);
$concrete: #32363b;
.bold {
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-template-areas: ". h m .";
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-auto-rows: auto;
    background: url("../photos/textures/brickwall.png");
    header {
        grid-area: h;
        background: url("../photos/textures/concrete_wall.png");
        position: relative;
        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 15vw;
            img {
                height: 15em;
                width: 15em;
                border-radius: 100%;
                margin-bottom: 2em;
                border: 2px solid $bronze;
            }
            .mail {
                color: white;
                letter-spacing: .1rem;
                overflow-wrap: break-word;
            }
            .social {
                display: flex;
                padding-top: 1em;
                a {
                    padding: 5px;
                    i {
                        color: white;
                    }
                    .fa-github {
                        color: white;
                        &:hover {
                            background-color: black;
                            border-radius: 100%;
                        }
                    }
                    .fa-google-plus {
                        color: white;
                        &:hover {
                            background-color: #C63D2D;
                            border-radius: 100%;
                        }
                    }
                    .fa-linkedin-in {
                        color: $concrete;
                        &:hover {
                            color: #4875B4;
                            border-radius: 100%;
                        }
                    }
                    .fa-twitter {
                        color: $concrete;
                        &:hover {
                            color: #33CCFF;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
        .name {
            position: absolute;
            font-family: 'Bungee Shade', cursive;
            font-size: 3em;
            top: 70px;
            left: 20%;
            transform: rotate(-10deg);
            .first_name,
            .last_name {
                background: linear-gradient(to right, rgb(211, 132, 53), rgba(238, 156, 74, 0.7));
                margin-bottom: .2em;
                color: white;
                letter-spacing: .2em;
                padding: .2em;
            }
        }
    }
    main {
        grid-area: m;
        background-color: rgba(255, 255, 255, .3);
        display: flex;
        flex-direction: column;
        .bio {
            font-family: 'Port Lligat Slab', serif;
            font-size: 1.5em;
            padding: 1em;
            width: 60%;
            align-self: flex-end;
            p {
                padding-top: 1em;
            }
        }
        .project-wrapper {
            padding: 2em;
            .badger-accordion__panel {
                max-height: 75vh;
                overflow: hidden;
            }
            .badger-accordion__panel.-ba-is-hidden {
                max-height: 0 !important;
            }
            .badger-accordion--initalised .badger-accordion__panel {
                transition: max-height ease-in-out 0.2s;
            }
            .js-badger-accordion-header {
                background: none;
                border: none;
                border-radius: 2px;
                color: black;
                width: 100%;
                margin-bottom: 1em;
                font-size: 1.3em;     
                text-align: start;
                cursor: pointer;
                font-family: 'Port Lligat Slab', serif;
                &:focus {
                    outline: none;
                }           
                small {
                    font-size: .8em;
                    color: rgba(36, 28, 28, 0.5);
                }
            }

            p {
                padding-bottom: 1em;
                width: 80%;
                font-size: 1.2em;
                font-family: 'Port Lligat Slab', serif;
                line-height: 1.2em;
                text-indent: 2em;
                a {
                    color: black;
                    font-weight: bold;
                }
            }
            .image-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                grid-auto-rows: auto;
                grid-gap: 1em;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        height: 21em;
                        width: 21em;
                        border: 1px solid white;
                        background-size: cover !important;
                        background-position: center !important;
                        transition: all .3s ease-in;
                        &:hover {
                            border: 1px solid $bronze;
                            transform: scale(1.01);
                            background-size: cover;
                            background-position: center;
                        }
                    }
                    @mixin background-layer($url) {
                        background: linear-gradient( rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url($url);
                    }
                    .image-1 {
                        @include background-layer('../photos/portfolio/challenge3.jpg');
                        &:hover {
                            background: url('../photos/portfolio/challenge3.jpg');
                        }
                    }
                    .image-2 {
                        @include background-layer('../photos/portfolio/Glozzom_test_website.jpg');
                        &:hover {
                            background: url('../photos/portfolio/Glozzom_test_website.jpg');
                        }
                    }
                    .image-3 {
                        @include background-layer('../photos/portfolio/Glozzom_about.jpg');
                        &:hover {
                            background: url('../photos/portfolio/Glozzom_about.jpg');
                        }
                    }
                    .image-4 {
                        @include background-layer('../photos/portfolio/Glozzom_contact.jpg');
                        &:hover {
                            background: url('../photos/portfolio/Glozzom_contact.jpg');
                        }
                    }
                    .image-5 {
                        @include background-layer('../photos/portfolio/Glozzom_services.jpg');
                        &:hover {
                            background: url('../photos/portfolio/Glozzom_services.jpg');
                        }
                    }
                    .image-6 {
                        @include background-layer('../photos/portfolio/BrainsterXyzLabs.jpg');
                        &:hover {
                            background: url('../photos/portfolio/BrainsterXyzLabs.jpg');
                        }
                    }
                    .image-7 {
                        @include background-layer('../photos/portfolio/BrainsterXyzLabs_dashboard.jpg');
                        &:hover {
                            background: url('../photos/portfolio/BrainsterXyzLabs_dashboard.jpg');
                        }
                    }
                    .image-8 {
                        @include background-layer('../photos/portfolio/BrainsterXyzLabs_dashboard2.jpg');
                        &:hover {
                            background: url('../photos/portfolio/BrainsterXyzLabs_dashboard2.jpg');
                        }
                    }
                    .image-9 {
                        @include background-layer('../photos/portfolio/BrainsterXyzLabs_dashboard3.jpg');
                        &:hover {
                            background: url('../photos/portfolio/BrainsterXyzLabs_dashboard3.jpg');
                        }
                    }
                    .image-10 {
                        @include background-layer('../photos/portfolio/Glozzom_blog.jpg');
                        &:hover {
                            background: url('../photos/portfolio/Glozzom_blog.jpg');
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .wrapper {
        grid-template-columns: 100px 2fr 5fr 100px;
        header {
            .contact {
                top: 20vw;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .wrapper {
        header {
            .contact {
                top: 18vw;
            }
            .name {
                left: 10%;
                font-size: 2.5em;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 50px 3fr 5fr 50px;
        header {
            .contact {
                top: 25vw;
            }
            .name {
                left: 10%;
                font-size: 2.5em;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-areas: ". h h ." ". m m .";
        grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-columns: 50px 1fr 1fr 50px;
        header {
            .contact {
                top: 10%;
                img {
                    align-self: flex-start;
                    margin-left: 1em;
                }
            }
            .name {
                top: 100px;
                font-size: 2em;
                width: fit-content;
                left: 40%;
            }
        }
        main {
            .bio {
                align-self: center;
                width: 90%;
            }
            .project-wrapper {
                p {
                    width: 100%;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
        .wrapper {
            grid-template-areas: "h h" "m m";
            grid-template-rows: repeat(auto-fill, minmax(600px, 1fr));
            grid-template-columns: 1fr;
            header {
                .contact {
                    top: 30%;
                    img {
                        align-self: center;
                        margin-left: 1em;
                    }
                }
                .name {
                    left: 5%;
                    top: 50px;
                    font-size: 1.9em;
                    width: fit-content;
                }
            }
            main {
                .bio {
                    align-self: center;
                    width: 90%;
                }
            }
        }
    }
}